<div class="container px-sm-0 px-5" >
  <div class="row my-4">
    <h3>ジャンル編集</h3>
  </div>
  <div class="row px-sm-0 px-5">
    <div class="col-md-8 px-5 px-sm-0">
      <%= render "admin/shared/error_messages", resource: @genre %>
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
      <table class="table table-borderless">
        <tbody>
            <tr>
              <th>ジャンル名</th>
              <td><%= f.text_field :name, class:"form-control" %></td>
              <td><%= f.submit '変更を保存', class:"btn btn-success" %></td>
              <td></td>
            </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>