@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap');

// フォント設定
body {
  font-family: 'Shippori Mincho', serif;
}

// ボタンスタイル
.btn-dark {
  background: #012B28;
  color: #EBB42C;
  border: none;
}

.btn-light {
  background-color: transparent;
  border-radius: 0;
  border: none;
  &:hover {
    background-color: initial;
    border-bottom: 1px solid #000;
  }
}

// 小さいテキスト
.small {
  color: #21252f;
}

// テーブルスタイル
.custom_table td {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.custom_table th {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

// ナビゲーションバー
.navbar {
  background-color: #012B28;
}

.nav-item a:hover {
  background-color: #012B28 !important;
  color: #fff;
}

// カスタムフォント
.custom_font {
  font-size: 12px;
}

// フッター
footer {
  background-color: #012B28;
}

// スライダーコンテナ
.slider-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
}

// Top画像コンテナ
.images {
  width: 100%;
  height: auto;
  background-color: #012B28;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// Top画像
.images img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

// テキストオーバーレイ
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// スライダーテキスト
.slider-text {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// メディアクエリ（スマートフォン用）
@media (max-width: 767px) {
  .thanks h1 {
    font-size: 24px;
  }
  .text-large {
    font-size: 10px;
  }
  .images {
    padding: 10px;
  }
  .text-overlay {
    max-width: 70%;
    height: auto;
  }
  .slider-text {
    max-width: 100%;
    height: auto;
    font-size: 10px;
  }
}
//ページネーション
.pagination {
  margin: 20px 0;
}

.pagination .page-item {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
}

.pagination .page-item a {
  color: #EBB42C;
  border-radius: 5px;
}

.pagination .page-item a:hover {
  text-decoration: none;
  background-color: #012B28;
  border: 1.5px solid #EBB42C;
  cursor: default;
}

.pagination .page-item.active a {
  background-color: #012B28;
  color: #fff;
}

.page-link {
  background-color: #012B28;
  border: #012B28;
}
//アイテム表示のカード
.card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  height: auto;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cardlist {
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.card-img-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item_image {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
