<div class="no-scroll-y">
  <div id="loading" class="container thanks d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex align-items-center flex-column">
    <%= image_tag "shortcake.png", style: "width: 200px; margin-bottom: 20px;" %>
    <h1 class="display-6 mb-5">ご注文ありがとうございました!</h1>
  </div>
</div>

	<!-- Preloader -->
	<section>
		<div id="preloader">
			<div id="ctn-preloader" class="ctn-preloader">
				<div class="animation-preloader">
					<div class="spinner"></div>
					<div class="txt-loading">
						<span data-text-preloader="注" class="letters-loading">
							注
						</span>

						<span data-text-preloader="文" class="letters-loading">
							文
						</span>

						<span data-text-preloader="を" class="letters-loading">
							を
						</span>

						<span data-text-preloader="確" class="letters-loading">
							確
						</span>

						<span data-text-preloader="定" class="letters-loading">
							定
						</span>

						<span data-text-preloader="し" class="letters-loading">
							し
						</span>

						<span data-text-preloader="て" class="letters-loading">
							て
						</span>
						
						<span data-text-preloader="い" class="letters-loading">
							い
						</span>
						
						<span data-text-preloader="ま" class="letters-loading">
							ま
						</span>
						
						<span data-text-preloader="す" class="letters-loading">
							す
						</span>
					</div>
				</div>
				<div class="loader-section section-left"></div>
				<div class="loader-section section-right"></div>
			</div>
		</div>
	</section>

</div>