<div class="form-inline">
    <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :content, placeholder: "search", class: "form-control" %>
      <%= f.select :range, options_for_select([['会員'], ['商品']]), class: "form-control" %>
      <%= f.submit "Search", class: "btn btn-outline-light" %>
    <% end %>
</div>